</br><a href="/User/EditUser/@Session["UserID"]">Edit Profile</a></br>
@Html.ActionLink("View Drugs", "ViewDrug", "Doctor")</br>
@Html.ActionLink("View Cart", "ViewCart", "Doctor")</br>
@Html.ActionLink("View Patient", "ViewPatient", "Doctor")</br>
