</br>
<a href="/User/EditUser/@Session["UserID"]">Edit Profile</a></br>
@Html.ActionLink("View Appointment", "Index", "Book")
<br />
@Html.ActionLink("Book Appointment", "Index2", "Book")
<br />
@Html.ActionLink("Approved Appointment", "Approvedview", "Book")
<br />
@Html.ActionLink("Messages", "ViewMsgTable", "Book")
</br>


