</br>
<a href="/User/EditUser/@Session["UserID"]">Edit Profile</a>
</br>
@Html.ActionLink("Add Drug", "NewDrug", "Drug")
<br />
@Html.ActionLink("View Order", "Index", "Vendor")
<br />
@Html.ActionLink("Approve Order", "ApproveOrder", "Vendor")
<br />